bin-debug/
node_modules/
.idea/
tools/node_modules

tools/nodejs/buildTS.local
*.local
*.map
.idea

*.swp
*~
.DS_Store
.[Tt]humb
*.config
obj/
*.user
*.suo
*.sln
*.csproj
*.ide/
npm-debug.log
src/tsc_config_temp.txt
/bin
/tsconfig.json
