body {
    font-family: Monospace;
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: white;
    -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* pointer-events: none; */
}

canvas {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

.bar {
    background: lightgreen;
}